<%- include('partials/header') %>
<main>
    <div class="student-info">
        <h1><%= title %></h1> <!-- Usa 'title' para el encabezado principal -->
        <p>Name: <%= student.Name %></p>
        <p>Id #: <%= student.Id %></p>
        <p>Email: <%= student.Email %></p>
        <p>Address: <%= student.Address %></p>
    </div>
</main>
<%- include('partials/footer') %>

    

